*{
    margin: 0%;
    padding: 0%;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

:root{
    --background:#264653;
    --hero_text:#2A9D8F;
    --black:000000;
    --neon:#18ed18;
    --theme:#FCA311;
    --text:#FFFFFF;
}
body{
    background: var(--background);
    box-sizing: border-box;
}

header{
    display: flex;
    background: var(--hero_text);
    justify-content: space-between;
}
header .logo{
    margin: 10px;
    padding: 20px;
}
.logo h3{
    color: var(--theme);
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}
.logo h3:hover{
    color: var(--neon);
}
nav{
    margin:10px;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: var(--neon);
    font-size: 20px;
    margin: 10px;
    padding: 20px;
}
section {
    min-height: 100vh;
    padding: 2em 12% 5em; /* Much better */
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.home_content{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: baseline;
    justify-content: center;
}
span{
    color:var(--theme);
}
.logo span{
    color: var(--theme);
}
.home_content h3{
    font-size: 3em;
}
.home_content h1{
    font-size: 4em;
    font-weight: 600;
    line-height: 1;
}
.home_img{
    border-radius: 50%;
}
.home_img img{
    position: relative;
    top: 1.5rem;
    width: 32vw;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 25px var(--neon);
    transition: 0.4s ease;
}
.home_content p{
    font-size: 1.3em;
    font-weight: 500;
}
.social_icons a{
    display: inline-flex;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: 2px solid var(--theme );
    font-size: 2rem;
    border-radius: 50%;
    color: var(--theme);
    margin: 2rem 1rem 2rem 0;
    transition: 0,3s ease-in-out;
}
.social_icons a:hover{
    color: var(--hero_text);
    transform: scale(1) translateY(-5px);
    box-shadow: 0 0 25px var(--theme);
    background-color: var(--theme);
}
.text_animation{
    font-size: 30px;
    font-weight: 600;
    min-height: 150px;
}
.text_animation span{
    position: relative;
}
.text_animation span::before{
    content: "Web Developer";
    color: var(--neon);
    animation: words 20s infinite;
}
.text_animation span::after{
    content: " ";
    background-color: var(--black);
    position: absolute;
    width: calc(100% + 2px);
    height: 100%;
    border-left: 3px solid var(--hero_text);
    right: -7px;
    animation: cursor 0.6s infinite, typing 20s steps(14)infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--theme);
    }
}
@keyframes words{
    0%,20%{
        content: "FrontEnd Developer";
    }
    21%,40%{
        content: "Cybersecurity Geek";
    }
    41%,60%{
        content: "Database Guru";
    }
    61%,80%{
        content: "Python Developer";
    }
    81%,100%{
        content: "AI $ ML";
    }
}
@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100 + 8px);
    }
}
